<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esempi layout Float</title>

    <link rel="stylesheet" href="css/style.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    
    <main class="container">

        <h1>
            Float Simple Layout
        </h1>

        <!-- sezione con le tre colonne -->
        <section class="row clearfix">
            <div class="column">
                
                <!-- immagine -->
                <img src="./img/image1.svg" alt="immagine decorativa">

                <!-- sottotitolo -->
                <h3>
                    Title Column 1
                </h3>

                <!-- paragrafo -->
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quidem expedita veritatis ipsum quis, ullam a ut fugiat explicabo maiores ea atque commodi rerum optio aliquid distinctio odit pariatur impedit. 
                </p>

            </div>
            <div class="column">
                <!-- immagine -->
                <img src="./img/image2.svg" alt="immagine decorativa">

                <!-- sottotitolo -->
                <h3>
                    Title Column 1
                </h3>

                <!-- paragrafo -->
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quidem expedita veritatis ipsum quis, ullam a ut fugiat explicabo maiores ea atque commodi rerum optio aliquid distinctio odit pariatur impedit. 
                </p>
            </div>
            <div class="column">
                <!-- immagine -->
                <img src="./img/image3.svg" alt="immagine decorativa">

                <!-- sottotitolo -->
                <h3>
                    Title Column 1
                </h3>

                <!-- paragrafo -->
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quidem expedita veritatis ipsum quis, ullam a ut fugiat explicabo maiores ea atque commodi rerum optio aliquid distinctio odit pariatur impedit. 
                </p>
            </div>
        </section>

        <!-- sezione finale con testo -->
        <section>
            <h2>Next section title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente unde beatae illo perspiciatis id pariatur iste ratione recusandae dignissimos cumque velit vero, soluta, minus quia numquam porro nesciunt laudantium obcaecati.
            </p>
        </section>
    </main>

</body>
</html>