* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* test
    border: 1px solid rgba(100%, 0%, 0%, 0.4); */
}
/* reset */


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* clearfix */


body {
    background-color: #0f0e17;
    color: white;

    font-family: 'Nunito', sans-serif;
}

h1 {
    margin-bottom: 2em;
    font-weight: 900;
}

h1, h2 {
    color: #e53170;
}

/* container ristretto e centrato */
.container {
    width: 70%;

    margin-left: auto;
    margin-right: auto;
}



/* sezioni */

section {
    margin-bottom: 56px;
}

section h2 {
    font-size: 22px;
    font-weight: 900;
}

/* fine sezioni */



/* sezione con le tre colonne */

.row .column {
    
    /* la funzione calc ci permette di inserire LUNGHEZZE in base ad un calcolo indicato da noi */
    /* è importantissimo inserire gli spazi vuoti tra un operatore e l'altro */
    width: calc(100% / 3);

    float: left;

    text-align: center;

    padding: 0 16px;

}

.row .column img {
    height: 160px;
}

.row .column h3 {
    color: #ff8b06;
    font-size: 16px;
}

/* sezione con le tre colonne */
